.recomended-container {
  display: flex;
  overflow: auto;
  width: 100%;
  gap: 10px;
  padding-bottom: 55px;
}

.recomended-card {
  width: 50vw;
  box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.385);
  border-radius: 0.5rem;
}

.recomended-card img {
  width: 50vw;
  border-radius: 0.5rem
}
