/* stylelint-disable declaration-no-important */

/* stylelint-disable declaration-bang-space-after */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  --primary: hsl(207, 28%, 41%) !important;

  --primary-hover: hsl(20, 96%, 22%) !important;

  --primary-focus: hsl(20, 96%, 22%) !important;

  --h1-color: white !important;
}
